.cms-layout-app {
  min-height: 100vh;
  &-login {
    padding-top: 20vh;
    display: flex;
    align-items: center;
    .ant-tabs {
      min-width: 600px;
    }
  }
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #003a8c;
  }

  .logo {
    height: 70px;
    margin: 8px;
    background-image: url(../../assets/images/logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .site-layout .site-layout-background {
    background: #fff;
    padding: 0 24px 24px;
  }

  .site-layout .site-layout-background-header {
    background: #fff;
    padding: 0 24px 24px;
    display: flex;
    justify-content: space-between;
    &_left{
      display: flex;
      // align-items: center;
      & > h1{
        color: #0968ed;
        font-size: 18px;
      }
    }
  }
  .header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
      width: 40%;
    }
    & > h2{
      width: 60%;
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      line-height: 70px;
      color: #003a8c;
    }
  }
}
.ant-layout-sider-collapsed {
  .header-container{
    .logo{
      background-image: url(../../assets/images/logo.webp) !important;
      display: none;
    }
    & > h2{
     
      font-size: 16px;
      font-weight: 600;
      line-height: 70px;
      color: #003a8c;
    }
  }
  
}
.ant-layout-sider{
  box-shadow: 1px 0 5px 0px #d0d6d5;
}

.action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
  .btn-logout {
    margin-left: 20px;
  }
  &_greeting {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.app-type-menu {
  padding-bottom: 16px;
  .ant-menu-item {
    flex-grow: 1;
    text-align: center;
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e6f7ff;
}
